<div id="wrapper">
            <div id="header">
            <a href="#/singlescreen"><p style="text-align:right;"><button type="button" class="button">Ampliar</button></p></a> 
            <br>
                <div class="container"> 


                    <div id="logo">
                        <h2>Pátio Village</a></h2> 
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container">
            <h4>Cisternas</h4>
                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge100" width="50%" height="150" onclick="window.location.href='#/cisternaDash_b2'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Cisterna 1 </div>
                            <div class="description">Capacidade 40.000 Litros<br>
                            <span style="color: #E53A0F">Nível 3: ~ 40.000 litros; </span><br>
                            <span style="color: #008100">Nível 2: ~ 20.000 litros; </span><br>
                            <span style="color: #FFCE00">Nível 1:  ~ 2.000 litros; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge101" width="50%" height="150" onclick="window.location.href='#/cisternaDash_b5'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Cisterna 2 </div>
                            <div class="description"> Capacidade 100.000 Litros<br>
                            <span style="color: #E53A0F">Nível 3: ~ 100.000 litros; </span><br>
                            <span style="color: #008100">Nível 2: ~ 50.000 litros; </span><br>
                            <span style="color: #FFCE00">Nível 1:  ~ 5.000 litros; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <h4>Caixa d'água dos Blocos</h4>
                    <br>
                    <div class="row">
                
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge1" width="50%" height="150" onclick="window.location.href='#/caixaDash_b1'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 1</div>
                            <div class="description"> Capacidade 7.000 Litros<br>
                            <<span style="color: #E53A0F">Nível 3: 6.000 ; </span><br> 
                            <span style="color: #008100">Nível 2: 3.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>

                    </div>
                    <br>
                    
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge2" width="50%" height="150" onclick="window.location.href='#/caixaDash_b2'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 2</div>
                            <div class="description"> Capacidade 7.000 Litros<br>
                            <<span style="color: #E53A0F">Nível 3: 6.000 ; </span><br> 
                            <span style="color: #008100">Nível 2: 3.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    <br>
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge3" width="50%" height="150" onclick="window.location.href='#/caixaDash_b3'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Bloco 3</div>
                            <div class="description"> Capacidade 7.000 Litros<br>
                            <<span style="color: #E53A0F">Nível 3: 6.000 ; </span><br> 
                            <span style="color: #008100">Nível 2: 3.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>


                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4a" width="75%" height="150" onclick="window.location.href='#/caixaDash_b4a'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 4 - CL1</div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4b" width="75%" height="150" onclick="window.location.href='#/caixaDash_b4b'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 4 - CL2 </div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5a" width="75%" height="150" onclick="window.location.href='#/caixaDash_b5a'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Bloco 5 - CL1</div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5b" width="75%" height="150" onclick="window.location.href='#/caixaDash_b5b'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 5 - CL2 </div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6a" width="75%" height="150" onclick="window.location.href='#/caixaDash_b6a'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 6 - CL1</div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6b" width="75%" height="150" onclick="window.location.href='#/caixaDash_b6b'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco6 - CL2</div>
                            <div class="description"> Capacidade 5.000 Litros <br>
                            <span style="color: #E53A0F">Nível 3: 4.500; </span><br> 
                            <span style="color: #008100">Nível 2: 2.500; </span><br>
                            <span style="color: #FFCE00">Nível 1: 500 ; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>                      
            </div>
            
        </div>  
    </div>
</div>